<div id="about" class="footer_icon">
	<a href="#"><img src="../static/icons/about%20icon.svg" onerror="this.src='../static/icons/about%20icon.png';"></a>
</div>
<div id="user_switch" class="footer_icon">
	<a href="#"><img src="../static/icons/switch%20user%20icon.svg" onerror="this.src='../static/icons/switch%20user%20icon.png';"></a>
</div>
<div id="debug" class="footer_icon">
	<a href="#"><img src="../static/icons/debug%20icon.svg" onerror="this.src='../static/icons/debug%20icon.png';"></a>
</div>