<ul class="nav-headlin-list">
	
	<li class="nav-headline-box"><a class="nav-headline" href="/">Home</a></li>
	
	<li class="nav-headline-box"><button onclick="toggle_visibility('nav-performance')" class="nav-headline-collaps">+</button><a class="nav-headline" href="/setup">Tools</a></li>
		<ul class="collaps" id="nav-performance">
			<a href="/setup"><li class="nav-subcategory">- Get Appliance Ready</li></a>
		</ul>
		
<!--
	<li class="nav-headline-box"><button onclick="toggle_visibility('nav-automation')" class="nav-headline-collaps">+</button><a class="nav-headline" href="#">Automation</a></li>
		<ul class="collaps" id="nav-automation">
			<a href="#"><li class="nav-subcategory">Get Results Tool</li></a>
		</ul>
-->
		
	<li class="nav-headline-box"><a class="nav-headline" href="#">Links</a></li>

<!-- 	<li class="nav-headline-box"><a class="nav-headline" href="#">Team Page</a></li> -->
	
<!-- 	<li class="nav-headline-box"><a class="nav-headline" href="#">About</a></li> -->
</ul>